.rodape a{
	color:#777;
}

.rodape{
	background-color: #222;
	color:#999;
	padding:15px;
}

.ir-alem img{
	max-width: 120px;
}

.secao{
	padding:30px;
}

.cabecalho, .ir-alem{
	background-color: #eee;
	
}
.cadastro, .metodo{
	background-color: #ddd;

}
.beneficios{
	background-color: #ccc;

}
body{
	/*
	color:#1d708a; 
	font-family:sans-serif;
	*/
}
.conteudo{
	/* max-width:600px; */ 
	/* margin:auto; */
}